<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.myaccounts">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.myapp.myaccounts.VerifyOTPActivity"></activity>
        <activity android:name="com.myapp.myaccounts.MainActivity" />
        <activity
            android:name="com.myapp.myaccounts.payments"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.fullScreenMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.viewtrans"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.transactions"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.partylist"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.sale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.newtransaction"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.viewTransactionSale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.verifyPhone"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myapp.myaccounts.addparty"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myapp.myaccounts.purchase"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>